@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =================================================== */
/*  Contenido de Login */
body,
input {
  font-family: "Poppins", sans-serif;
}

.login-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #bbe1fa;
  }
.box-login {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 30px -20px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap  {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  transition: 0.8s ease-in-out;
}

.forms-wrap form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  transition: opacity 0.02s 0.4s;
}

.signp-form  form{
  opacity: 0;
  pointer-events: none;
}

.logo h4 {
  font-size: 1.5rem;
  color: #3282b8;
}

.logo span{
    color: #151111;

}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;

}


.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #0e0358;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  transition: 0.4s;
}


.label-login {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #959595;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active + .label-login {
  font-size: 0.75rem;
  top: -2px;
}

/* animations.css */
.viewinform-container {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.viewinform-content {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-50px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.viewinform-fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.logo-container {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  transition: opacity 0.3s, transform 0.5s;
}

.image.show {
  opacity: 1;
  transform: none;
}
main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}


/* boton de login */

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.sign-btn:hover {
  background-color: #3282b8;
}

/* =================================================== */


/* =================================================== */
/* Sidebar en moviles  */
.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: 92%;
}

.logout-section {
  margin-top: auto;
}

/* =================================================== */


/* =================================================== */
/* Scroll de las paginas  */
.scroll-container {
  max-height: 520px;
  overflow-y: auto;
  padding-right: 15px;
}

/* =================================================== */


/* =================================================== */
/* Medidad de las fotos de evidencias */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.img-thumbnail {
  width: 150px;
  height: 150px;
}

/* =================================================== */


/* =================================================== */
/* cards de tareas */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.3rem;
  gap: 1rem;
}

.card {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: #fffdfd;
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 7px 8px -9px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card-image {
  width: 100px;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
}

.title-card {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(88, 88, 88);
}

.desc-status {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.actions-btns {
  display: flex;
  gap: 0.5rem;
}

.View,
.Delete {
  width: auto;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 0.375rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  outline: 2px solid transparent;
  border: 1px solid rgba(253, 253, 253, 0.363);
  cursor: pointer;
}

.View {
  background-color: #006cff;
  font-weight: 600;
}

.View:hover {
  background-color: #003175;
}

.Delete {
  background-color: #ff0000;
  font-weight: 500;
}

.Delete:hover {
  background-color: #7d0101;
}




@media (min-width: 200px) and (max-width: 299px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .scroll-container {
    max-height: 650px;
  }

  .form-controls {
    padding: 0.5px;
  }



}

@media (min-width: 300px) and (max-width: 499px) {
  main {
    padding: 1rem;
  }

  .box-login {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .logo-container {
 display: none;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
    
  }

  .forms-wrap{
    width: 100%;
  }


  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .scroll-container {
    max-height: 650px;
  }
}

/* Movil tamaño*/
@media (min-width: 500px) and (max-width: 599px) {
  main {
    padding: 1rem;
  }

  .box-login {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .logo-container {
 display: none;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
    
  }

  .sign-up-form  form {
    padding: 1rem 2rem 1.5rem;
  }
  .forms-wrap{
    width: 100%;
  }

  .scroll-container {
    max-height: 650px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-image {
    width: 130px;
  }

  .card {
    width: 300px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet tamaño */
@media (min-width: 600px) and (max-width: 1023px) {
  .box-login {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  .sign-up-form  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .logo-container {
    width: 20px;

  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }


  .card-image {
    width: 130px;
  }

  .card {
    width: 300px;
  }


  .scroll-container {
    max-height: 750px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .Photo-container {
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  .spanTask {
    display: none !important;
  }
}

/* tablet tamaño grande */
@media (min-width: 1024px) and (max-width: 1199px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-image {
    width: 150px;
  }

  .card {
    width: 350px;
  }

  .sidebar-desktop {
    display: none !important;
  }

  .sidebar-mobile {
    display: block !important;
  }

  .menu-toggle-btn {
    display: block !important;
  }

  .spanTask {
    display: none !important;
  }


  .scroll-container {
    max-height: 1050px;
  }
  .forms-wrap {
    width: 45%;
}

.logo-container {
    width: 55%;
}

form {
    max-width: 70%;
}

}

/* pc */
@media (min-width: 1200px) and (max-width: 1600px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

}






/* Sidebar menu*/
.sidebar-container {
  max-height: 100vh;
  background-color: #0f4c75;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-container:hover {
  background-color: #0d3b59;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar-brand {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.sidebar-brand img {
  margin-right: 10px;
}

.sidebar-brand-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.2s;
}

.sidebar-link:hover {
  background-color: rgba(0, 103, 187, 0.1);
}

.sidebar-icon {
  margin-right: 10px;
}