@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #bbe1fa 80%, #3282b8 20%);
}
.form-container{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img img {
  width: 500px;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
}

.form-controls {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

h1.title-login {
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  padding-left: 10px;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #0e5687;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px #fff, 0px 0px 0px 0px #000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

/* Scroll */
.scroll-container {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 15px;
}
/* View Empleado */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.img-thumbnail {
  width: 150px;
  height: 150px;
}

/* cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.3rem;
  gap: 1rem;
}

.card {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: #fffdfd;
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 7px 8px -9px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card-image {
  width: 100px;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
}

.title-card {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.desc {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.download,
.notnow {
  width: auto;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 0.375rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  outline: 2px solid transparent;
  border: 1px solid rgba(253, 253, 253, 0.363);
  cursor: pointer;
}

.download {
  background-color: #006cff;
  font-weight: 600;
}

.download:hover {
  background-color: #003175;
}

.notnow {
  background-color: #ff0000;
  font-weight: 500;
}

.notnow:hover {
  background-color: #7d0101;
}

.close {
  margin: -0.375rem -0.375rem -0.375rem auto;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: #606c88;
  padding: 0.375rem;
  color: rgba(255, 255, 255, 1);
  border: none;
}

@media (min-width: 300px) and (max-width: 499px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bbe1fa 80%, #3282b8 50%);
  }
  .form-controls {
    padding: 10px; 
    gap: 8px;
}
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1.title-login {
    font-size: 2rem;
    font-weight: bold;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
}
.scroll-container {
  max-height: 650px;
}
}

/* Movil tamaño*/
@media (min-width: 400px) and (max-width: 599px) {
  .login-container {
  
    background: linear-gradient(to right, #bbe1fa 80%, #3282b8 50%);
  }
  h1.title-login {
    font-size: 3.2rem;
    font-weight: bold;
  }

  .scroll-container {
    max-height: 650px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-image {
    width: 130px;
  }
  .card {
    width: 300px;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
}
}


/* Tablet tamaño */
@media (min-width: 600px) and (max-width: 1023px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .login-container {
    background: linear-gradient(to right, #bbe1fa 70%, #3282b8 40%);
    margin: 0;
    box-sizing: border-box;
  }
  .card-image {
    width: 130px;
  }
  .card {
    width: 300px;
  }
  h1.title-login {
    font-size: 4rem;
    font-weight: bold;
  }
  .form-controls {
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
  }
  .scroll-container {
    max-height: 750px;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
}
.Photo-container{
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.spanTask{
  display: none !important;
}
}

/* tablet tamaño grande */
@media (min-width: 1024px) and (max-width: 1199px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .form-controls {
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
  }
  .login-container {
    background: linear-gradient(to right, #bbe1fa 70%, #3282b8 40%);
    margin: 0;
    box-sizing: border-box;
  }
  .card-image {
    width: 150px;
  }
  .card {
    width: 350px;
  }
  .sidebar-desktop {
    display: none !important;
  }
  .sidebar-mobile {
    display: block !important;
  }
  .menu-toggle-btn {
    display: block !important;
  }
  .spanTask{
    display: none !important;
  }
  .login-img {
    display: none !important;

  }
}

/* pc */
@media (min-width: 1200px) and (max-width: 1600px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  h1.title-login {
    font-size: 3rem;
    font-weight: bold;
  }
  .form-controls {
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
  }
}





/* Sidebar menu*/
.sidebar-container {
  max-height: 100vh;
  background-color: #0f4c75;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-container:hover {
  background-color: #0d3b59;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar-brand {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.sidebar-brand img {
  margin-right: 10px;
}

.sidebar-brand-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.2s;
}

.sidebar-link:hover {
  background-color: rgba(0, 103, 187, 0.1);
}

.sidebar-icon {
  margin-right: 10px;
}
