@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Vista de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #BBE1FA 80%, #3282B8 20%);
}

.login-logo {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .login-container {
    background: linear-gradient(to right, #BBE1FA 80%, #3282B8 50%);
  }
}

/* form-login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-controls {
  margin: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .form-controls {
    margin: 8px;
    width: auto;
   max-width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
  }
}

h1.title {
  font-size: 3.5rem; 
  font-weight: bold; 
  color: black; 
  margin-bottom: 1.5rem;
}

.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  padding-left: 10px;
}

.input:focus {
  border: 1.5px solid #1c488f;
}

.input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #000;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 15px;
  left: 5px;
  font-size: 13px;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
}

.submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #0f4c75;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px #fff, 0px 0px 0px 0px #000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

  
  /* Scroll */
  .scroll-container {
    max-height: 500px; 
    overflow-y: auto; 
    padding-right: 15px; 
  }

  .scroll-container-inform {
    max-height: 600px; 
    overflow-y: auto; 
    padding-right: 15px; 
  }



  
  .card-img-top {
    height: 200px; 
    object-fit: cover;
  }
  
  .card {
    border: none;
    border-radius: 20px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.222);
  }
  
  .card-body {
    text-align: left;
  }
  
  /* Sidebar menu*/
  .sidebar-container {
    height: auto;
    background-color: #0f4c75;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .sidebar-container:hover {
    background-color: #0d3b59;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  
  .sidebar-brand {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .sidebar-brand img {
    margin-right: 10px;
  }
  
  .sidebar-brand-text {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .sidebar-link:hover {
    background-color: rgba(0, 103, 187, 0.1);
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  /* Cards Assign tasks*/
  .room-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .room-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .room-body {
    flex: 1;
    margin-left: 20px;
  }
  .card-buttons {
    display: flex;
    gap: 10px;
  }

